/* @import "tailwindcss"; */

#root{
  --bg-color1: hsl(161, 80%, 30%);
  --normal-font-size: 1.5rem;
}

body{
  background-color: var(--bg-color1) ;
}


.header-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color1);
  padding-left: 3rem;
  padding-right: 3rem;
  height: 5rem;
  font-size: var(--normal-font-size);
}

.header-links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blue; */
}

.header-links{
  padding-left: 2rem;
  font-size: var(--normal-font-size);
}

.dashboard-link{
  margin-right: auto;
}
